<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"  name="viewport" content="width-device-width, initial-scale-01style.css"/>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <title>Top Batswana Recipes</title>
    </head>

    <body>
        <div class="header">
            <div class="top-nav">
                <ul>
                    <li class="brand"><a href="#">Batswana Recipes</a>
                        <li><a href="index.html">HOME</a>
                    <li><a href="about.html">About the people & culture</a>
                    <li><a href="expexperience.html">Recipes</a>
                </ul>
                <button><a href="contact.html">Login in</a></button>
            </div>

            
            </div> 
        </div>

        <div class="">
    </body>
</html>




