<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"  name="viewport" content="width-device-width, initial-scale-01style.css"/>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <title>Top Batswana Recipes</title>
    </head>

    <body>
        <div class="header">
            <div class="top-nav">
                <ul>
                    <li class="brand"><a href="#">Batswana Recipes</a>
                        <li><a href="index.html">HOME</a>
                    <li><a href="about.html">About the people & culture</a>
                    <li><a href="../public/recipes">Recipes</a>
                </ul>
                <button><a href="sql.html">Login in</a></button>
            </div>

            
            </div> 
        </div>
            
        <!----about the people--->

        <div class="container">                                       <div class="content">                                         <h2>About the Batswana people</h2>
                <div class="origins">
                <P>The Batswana people are African people mainly from the Southern Hemisphere of the continent of Africa, in the countries: Botswana, South Africa and Zimbabwe respectfully, word has it in the street that the group of people orignates from the then Bechuanaland which includes the Northern parts of South Africa in the provinces of North West, Northern Cape and Gauteng.</p>
                <p>The group of people structured by their differrent clans and of course their totems which are sacred animals such as crocodailes for the Bakwena clan such and such.</p>
                <p>Scholars through time have said that the Batswana are relatives to the First humans or oldest living humans: The khoi and the San</p>
                <p>They have the most unique genetic makeup, where almost all feautures from around the globe could be found in this group of people</p>
                <p>The setswana language is spoken as native toungue and gas over 60 dialects differing from clan to clan</p>
                <p>The modern day Botswana is known for its Diamond wealth and minning whilst the North west(South Africa) theif known for their platinum all this coming from the land which the Batswana dwells on.Even the crown jewel thats on the crown of the British ruler was mined from the land of Batswana.Those are not only the artifacts that the Batswana people have even fossil artifacts were discovered in the Batswana area's such as the Taung child which was discovered in Taung in the province of Northern Cape</p>
                </div>
                <div class="culture">
                <p>The culture of the people is quite a diverse one, which is not baised.</p>
                <p>The people have a sounding system of governance which was and remains overthrown by the past and present government,in which woman have the same right as their male counterparts as well as allowing woman of royal families to sit on the thrown as rulers such that it is not biased.</p>
                <p>Different clans within tribes make part of the government meaning that everyone is part and parcel of the government</p>
                <p>Since this is all about food, lets make it all about food</>
                <p>The Batswana cuisine is one that is not easy yet not difficult. They understand the rule of eating whats in seaso  and whats not</p>
                <p>Without doubt they are not vegetarians bacause their culture is livestock most importantly cows, sheep and chickens not discriminating against others</p>
                <p>They are known for their sour dishes, creamy and savoury ones. They are black people afterall seasoning is what they know.</p>
                <p>Mabele is one of their most important and without doubt sacred grain as it is used for many things from brewing alcohol "bojalwa joa setswana" to porriage. Do check the recipes to know how to prepare this scared grain</p>
                </div>
          </div>
            
    </body>
</html>




